<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add Book</title>
</head>
<body>
    <div class="container mt-4 col-lg-5">
        <div class="card">
        <div class="card-header">
            Add Book <a href="/auth/home" class="btn btn-primary float-right">Home</a>
        </div>
        <div class="card-body">
            <form action = "/sellbook/addbook" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="number" class="form-control" name="isbn" value="{{isbn}}" required>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control"  name="title" value="{{title}}" required>
                </div>
                <div class="form-group">
                    <label for="author">Authors</label>
                    <input type="text" class="form-control"  name="author" required>
                </div>
                <div class="form-group">
                    <label for="pdate">Publication Date</label>
                    <input type="date" class="form-control"  name="pdate" value="{{pdate}}" required>
                </div>
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <input type="number" class="form-control"  name="qty" required min="0" max="999" value="{{qty}}">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control"  name="price" required step="0.01" min="0.01" max="9999.99" value="{{price}}">
                </div>
                <div class="form-group">
                    <label for="image">Upload Book Image</label>
                    <input type="file" class="form-control" id="ima" name="image" multiple>
                </div>
                <div id="gallery"></div>
                {{#if message}}
                <h4 class="alert danger">{{message}}</h4>
                {{/if}}
                <button type="submit" class="btn btn-primary">Add Book</button>
                &emsp14;
            
                </form>
        </div>
        </div>
    </div>
    
    <script>
           function previewImages() {

            var preview = document.querySelector('#gallery');
            
            if (this.files) {
                [].forEach.call(this.files, readAndPreview);
            }

            function readAndPreview(file) {

                // Make sure `file.name` matches our extensions criteria
                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
                } // else...
                
                var reader = new FileReader();
                
                reader.addEventListener("load", function() {
                var image = new Image();
                image.height = 100;
                image.title  = file.name;
                image.src    = this.result;
                preview.appendChild(image);
                });
                
                reader.readAsDataURL(file);
                
            }

            }

            document.querySelector('#ima').addEventListener("change", previewImages);    
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>