<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Your Added Books</title>
</head>
<body>
    <div class="container mt-4">
        <div class="card">
        <div class="card-header">
            Buy Books <a href="/auth/home" class="btn btn-primary float-right">Home</a>
        </div>
        <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Seller Name</th>
                        <th scope="col">Action</th>
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each books}}
                        <tr>
                        <th scope="row">{{isbn}}</th>
                        <td>{{title}}</td>
                        <td>{{authors}}</td>
                        <td>{{publication_date}}</td>
                        <td>{{quantity}}</td>
                        <td>{{price}}</td>
                        <td>{{firstName}} {{lastName}}</td>
                        <td><a href="/buybook/{{id}}" class="btn btn-primary">Buy</a></td>
                        <td><a href="/buybook/getImage/{{id}}" class="btn btn-primary">View Images</a></td>
                        </tr>
                        {{/each}}
                        
                        
                    </tbody>
                    </table>
                    {{!-- {{#each books}} 
                        {{'sellbook.isbn'}} 
                    {{/each}} --}}
        </div>
        </div>
         
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>