<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Buy Book</title>
    
</head>
<body>

    <div class="container mt-4 col-lg-5">
        <div class="card">
        <div class="card-header">
            Update Order <a href="/auth/home" class="btn btn-primary float-right">Home</a>
        </div>
        <div class="card-body">
            <form action = "/buybook/cartupdate" method="POST">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" value="{{ubook.id}}" readonly>
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" name="isbn" value="{{ubook.isbn}}" readonly>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control"  name="title" value="{{ubook.title}}" readonly>
                </div>
                <div class="form-group">
                    <label for="authors">Authors</label>
                    <input type="text" class="form-control"  name="authors" value="{{ubook.authors}}" readonly>
                </div>
                <div class="form-group">
                    <label for="pdate">Publication Date</label>
                    <input type="date" class="form-control"  name="pdate" value="{{ubook.publication_date}}" readonly>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control"  name="price" value="{{ubook.price}}" readonly>
                </div>
                <div class="form-group">
                    <label for="qty">Available Quantity</label>
                    <input type="number" class="form-control"  name="aqty" value="{{aqty}}" readonly>
                </div>
                <div class="form-group">
                    <label for="qty">Update Quantity</label>
                    <input type="number" class="form-control"  name="qty" value="{{qty}}" required min="1">
                </div>
                
                {{#if message}}
                <h4 class="alert danger">{{message}}</h4>
                {{/if}}
                <button type="submit" class="btn btn-primary">Update Order</button>
                &emsp14;
            
             {{!-- <a href="/sellbook/deletebook/{{ubook.id}}" class="btn btn-primary">Buy</a> --}}
                </form>
        </div>
        </div>
    </div>

 
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
</body>
</html>